body {
    background: #E8C5C5;
    margin-left: 100px;
    margin-right: 200px;
}

header {
    margin-top: 100px;
}

h1 {
    color: red;
    font-family: sans-serif;
}
h2 {
    font-family: sans-serif;
}
p {
    font-size: 40px;
}

footer {
    margin-bottom: 30px;
}

img {
    margin: 20px 30px 20px 30px;
}

.img_padrao {
    margin-bottom: 100px;
    width: 300px;
}

.logo {
    width: 100px;
}